html, body {
	margin:0;
	padding:0;
	height:100%;
}

.input-group.searchBox{
	position: fixed;
	z-index: 1;
	margin-top: 5%;
	width: 50%;
	left: 25%;	
}

node-graph{
	height: 100%;
	width: 100%;
	position: absolute;
}

.node {
	stroke-width: 6px;
}

div.tooltip {
	position: absolute;
	text-align: top;
	width: auto;
	height: auto;
	padding: 4px;
	font: 2vh sans-serif;
	background: black;
	color: white;
}

.tracks{
	display: inline-block;
	vertical-align: top;
	width: 11vw;
  	word-wrap: break-word;
  	margin-right: 15px;
  	margin-bottom: 8px;
  	border-top: black solid 2px;
  	padding-top: 5px;
}

.tracks p{
	display: inline-block;
	float: left;
	clear: both;
}

.youtubeSearch{
	height: 5vw;
  	width: 5vw;
  	border-radius: 50%;
  	background-color: grey;
  	border: 0px;
  	background-image: url(../../img/youtube.png);
  	background-size: 100%;
  	background-repeat: no-repeat;
  	float: right;
}

.artistBasicInfo{ 
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px;	
}

.artistBasicInfo h1{ 
	margin-bottom: 0px;
}

.artistBasicInfo h2{ 
	margin-top: 5px;
}

p span{ 
	background-color: rgba(0, 0, 0, .75);
  	color: white;
  	display: inline;
  	margin: 0px;
  	padding: 2px;
}

h1 span{ 
	background-color: rgba(0, 0, 0, .75);
  	color: white;
  	display: inline;
  	margin: 0px;
}

h2 span{ 
	background-color: rgba(0, 0, 0, .75);
  	color: white;
  	display: inline;
  	margin: 0px;
  	font-style: italic;
}

/*Twitter stuff*/
#tweets{ 
	border-top: 2px solid black;
	height: 400px;	
}

/*Mao stuff*/
#map { 
	/*height: 200px;
	width: 200px; */
	border-top: 2px solid black;
}
